<html>
<head>
	<title>Friendography Sign in</title>	
</head>

<body>
	<p><%= flash[:notice] %></p>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '1409749412582316',                        // App ID from the app dashboard
      channelUrl : '//localhost:3000/channel.html', 		// Channel file for x-domain comms
      status     : true,                                 // Check Facebook Login status
      xfbml      : true,                                  // Look for social plugins on the page
      cookie	 : true
    });

    // Additional initialization code such as adding Event Listeners goes here
  };

  // Load the SDK Asynchronously
(function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
 }(document));

$(function() {
  $(".fb-login-button").click(function() {
    FB.login(function() {
      if (response.authResponse) {
        console.log("Welcome! Fetching your information...");
        $.cookie("user_id", response.authResponse.userID);
        $.cookie("access_token", response.authResponse.accessToken);
        window.location = "#{oauth_facebook_callback_url}";
      } else {
        console.log("User cancelled login or did not fully authorize.");
      }
    }, {scope: 'user_location, user_hometown, friends_location, friends_hometown'});
  });
});
</script>

<p>Go where your friends are...</p>
<div class="fblogin">
	<fb:login-button show-faces="true" autologoutlink="true" width="200" max-rows="1" 
	scope="friends_location, friends_hometown, user_location, user_hometown">
	</fb:login-button>
</div>

<%= form_tag({controller: "search", action: "search"}, method: "get", class: "search_form") do %>
  <%= label_tag(:region, "Search a Region:") %>
  <%= text_field_tag(:region) %> <br/>
  <%= label_tag(:level, "How many friends to include:") %>
  <%= text_field_tag(:level) %> <br/>
  <%= submit_tag("Search") %>
<% end %>

</body>
</html>
