<!DOCTYPE html>
<html>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <head>
    <title>Friendography search results page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="http://use.edgefonts.net/amatic-sc;fredericka-the-great.js"></script>
  </head>

  <body>   
	<div class="container">
      <!-- Example row of columns -->
      <div class="row">
	        <div class="col-lg-4">
	          <div class="navbar-header">
		      <h1>Friendography</h1>
		      <h2>Travel Social &#9992;</h2>	      
		    </div> <!-- navbar header -->
        </div>
        <div class="col-lg-4">
			<div class="col-lg-6" align="center" style="top: 20px">
			  <h3 class="heading">Log in with Facebook to explore friends and flights!</h3>			  
			</div>
       	</div>
        <div class="col-lg-4">
          <ul class="nav navbar-nav navbar-right">
			<li><a href="#aboutModal" data-toggle="modal">About/FAQ</a></li>
			<li><a href="#contactModal" data-toggle="modal">Feedback</a></li>
			<li><a><%= render "shared/login" %></a></li>
      	  </ul>
        </div>
      </div>
    </div>
    
    <!-- Modal -->
	<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">A little bit about us</h4>
	      </div>
	      <div class="modal-body">
	      	<ul class="nav nav-tabs">
			  <li class="active"><a href="#aboutData" data-toggle="tab">About</a></li>
			  <li><a href="#faqData" data-toggle="tab">FAQ</a></li>
			  <li><a href="#impressumData" data-toggle="tab">Imprint</a></li>
			</ul>
			<div class="tab-content">
		      <div class="tab-pane active" id="aboutData">
		      	<%= render partial: "shared/about" %>  
		      </div>
		      <div class="tab-pane" id="faqData">
		      	<%= render partial: "shared/faq" %>
		      </div>
		      <div class="tab-pane" id="impressumData">
		      	<%= render partial: "shared/impressum" %>
		      </div>
		    </div> 	      		        	         
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Get in touch with us</h4>
	      </div>
	      <div class="modal-body">
	        <div id="feedback_canvas" style="">
	    		<%= render partial: "shared/feedback" %>
	    	</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>		

	<div id="resultsDiv" class="container" style="display: inline; width: 70%; height: 100%">
		<div class="row">
			<% if(@currentUser && !cookies["confirmed_usage"+@currentUser.id.to_s]) %>
				<div id="usageNotice" class="alert alert-info fade in" style="position: absolute; top: 20%; left: 30%; z-index: 9999; width: 25%;">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<h4>Ok, What Now?</h4>
					<p>After logging in, click on the bubbles to see friends and flights.  You can even zoom in to get a better view of who lives where.  Flights you select will appear on the right.</p>	
					<hr/>
					<div align="center">
						<img src="/images/fgyscreen.png" style="width: 230px; height: 185px; margin-bottom: 20px; box-shadow: 2px 2px 5px #666; -moz-box-shadow: 2px 2px 5px #666; -webkit-box-shadow: 2px 2px 5px #666" align="center"/>
					</div>	
					<button id="usageCloseBtn" type="button" class="btn btn-info" data-dismiss="alert" aria-hidden="true" data-loading-text="Storing..." style="position: relative; left: 40%;">Got It!</button>		
				</div>
			<% end %>
			<div class="span9" id="mapThrobberPanel" align="center" style="position: absolute; top: 40%; left: 30%; z-index: 999; display: block; background-color: rgba(0,0,0,0.6); border-radius: 15px; -webkit-border-radius: 15px; padding: 50px">
				<img src="/images/MapAjaxThrober.gif" alt=""/>	
			</div>
			<div class="span9" id="map-canvas">
		      <%= render partial: "shared/map" %>
		    </div>
		    
		    <div class="span3">
			    <div id="params-canvas" style="position: relative; top: -550px; float: right; width: 25%; padding: 0px 20px 0px 5px;">
			    	<%= render partial: "shared/params" %>	
			    </div>
			    <div id="flights_canvas" style="position: relative; top: -430px; right: -25%; float: right; width: 25%; padding: 0px 20px 0px 5px;">
			    	<%= render partial: "shared/flights" %>
			    </div>
			</div>	
		</div>    
	</div>
	<div id="info"></div>
	<div class="container" style="height: 10%">
		<div class="row">
			<div class="span12" id="footer">
				<%= render partial: "shared/footer" %>
			</div>
		</div>
	</div>
    
    <% if Rails.env.production? %> 
    	<%= render 'layouts/ga' %>
    <% end %>
        
  </body>
</html>

<script>
	$('#usageNotice').bind('closed.bs.alert', function () {
	  console.log("Closed usage box...");	  
	});
	
	$('#usageCloseBtn').click(function() {
		var fb_id = <%= @currentUser.nil? ? "00000" : @currentUser.id %>
		var btn = $(this)
	    btn.button('loading')
	    $.ajax({
 	      		type: 'GET',
             	url: "/confirm_usage?fb_id="+fb_id
          	}).always(function () {
	      		btn.button('reset')
	    });	
	});
</script>
