<!DOCTYPE >
<html>
	<div class="results">
		<% @solutions.first(1).each_with_index do | solution, index | %>
			<a href="<%= solution.deepLink %>" target="_blank" style="text-decoration: none; color: #333">
			<div class="topFlightsDisplay">
				<div class="flightParams" style="font-size: 10px">
					<div class="flightParamItem">Adults: <%= solution.adults %> &nbsp; From:</div>
					<div class="flightParamItem" style="font-size: 12px; font-weight: bold"><%= solution.slices[0].legs[0].departure.airport.cityName %> &nbsp; </div>To: 
					<div class="flightParamItem" style="font-size: 12px; font-weight: bold; color: #d051b9"><%= solution.slices[0].legs[-1].arrival.airport.cityName %> &nbsp; </div>
					<div class="flightParamItem">[ <%= solution.slices[0].legs[0].departure.time %> - <%= solution.slices[-1].legs[-1].departure.time %> ]</div>
				</div>
			</div>
			<div class="singleFlight">								
				<div class="costLink" style="display: inline">
					<div class="solutionCost">
						<%= solution.totalCost %>	
					</div>
					<div class="priceTagBox">
						<div id="priceTag" data-toggle="tooltip" data-placement="top" title="Prices and Availability may have fluctuated since last update">
							<div style="display: inline">Lowest Price&#42;</div>
							<div><h6 style="display: inline"> on </h6><img src="/images/oww-logo.jpg"/></div>	
						</div>
					</div>										
				</div>				
				<div class="mairline">
					<% solution.marketingAirlines.first(1).each do | marketingAirline | %>
						<%= marketingAirline %> 
					<% end %>
				</div>								
			</div>
			</a>
		<% end %>
	</div>	
</html>

<script>
	$('#priceTag').tooltip()
</script>
