<section class="login">
	<div id="fb-root"></div>
	<div style="display: none; visibility:hidden">
		<% if session['access_token'] %>
			<%= titleText = "" %>
		<% else %>
			<%= titleText = "We never share your personal information" -%>
		<% end %>
	</div>	
	<div id="fbLoginBox" data-toggle="tooltip" data-placement="top" title="<%= titleText %>">
		<div class="fblogin">
		  <div class="fb-login-button" size="medium" autologoutlink="true" scope="friends_location, friends_hometown, user_location, user_hometown">
		  </div>
		</div>
	</div>
	<script>$('#fbLoginBox').tooltip();</script>
	<script>
		  window.fbAsyncInit = function() {
			// init the FB JS SDK
			FB.init({
			  appId      : '<%= FB_APP_ID %>',						// App ID from the app dashboard
			  channelUrl : '<%= CHANNEL_URL %>', 					// Channel file for x-domain comms
			  status     : true,									// Check Facebook Login status
			  xfbml      : true,									// Look for social plugins on the page
			  cookie	 : true
			});
			
			FB.getLoginStatus(function(response) {
		        if (response.status != 'connected') {
		            FB.Event.subscribe('auth.login', function(response) {
		                window.location = '<%= escape_javascript search_path %>';
		            });
		        }
		    });
		
		    FB.Event.subscribe('auth.authResponseChange', function(response) { 
		    if (response.status === 'connected') {
		    	// renderSocializedMap();	
		    	searchLoggedIn();  		          			      
		    } else if (response.status === 'not_authorized') {
		      FB.login();
		    } else {
		      // In this case, the person is not logged into Facebook, 
		      // so we call login() and clear the map
		      clearMap(null);		      
		      <% cookies["fbsr_"+FB_APP_ID] = nil %>
		      <% cookies["use_fb"] = false %>
		      searchLoggedOut();
		      FB.login();
		    }
		  });
		  
		  FB.Event.subscribe("auth.logout", function() {
		  	window.location = '/logout'
		  	console.log('auth.logout event, logging out');
		  });
		};
	
	  	// Load the SDK Asynchronously
		(function(d){
		   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
		   if (d.getElementById(id)) {return;}
		   js = d.createElement('script'); js.id = id; js.async = true;
		   js.src = "//connect.facebook.net/en_US/all.js";
		   ref.parentNode.insertBefore(js, ref);
		 }(document));
		
		$(function() {
		  $(".fblogin").click(function() {
		    FB.login(function() {
		      if (response.authResponse) {
		        console.log("Welcome! Fetching your information...");
		      } else {
		        console.log("User cancelled login or did not fully authorize.");
		      }
		    }, {scope: 'user_location, user_hometown, friends_location, friends_hometown'});
		  });
		});	
		
		function searchLoggedIn() {
			parent.document.getElementById("show-search").innerHTML = '<div class="col-lg-6" align="center"><h2 class="heading">Find your friends.</h2> <div class="form-search"> <%= escape_javascript(render partial: "shared/search_fields") %></div></div>';
		}
		
		function searchLoggedOut() {
			parent.document.getElementById("show-search").innerHTML = '<div class="col-lg-6" align="center" style="top: 20px"><h2 class="heading">Log into Facebook to find your friends.</h2</div> ';
		}    		
	</script>		
</section>
