<section class="searchParams" style="padding: 5px; border-style: solid; border-width: 1px; border-color: #E588D4; font-family: Helvetica;">		
	<div class="customizeLine">
		<button id="customize" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Toggle to Customize">
			Customize Dates 
		</button>
		<div id="paramsDisplayText">&nbsp; <%=@defaultAdults%> Adult(s), <%= @defaultDepart.strftime("%B %-d") %> - <%= @defaultReturn.strftime("%B %-d") %></div>
	</div>	
	<div id="customizeParams" style="display: block;">
		<%= form_tag({controller: "search", action: "set_params"}, method: "get", remote: true, class: "flight_params_form") do %>	
			<div id="dates" style="display: inline">
				<div id="departDate" style="float: left; display: block; padding-right: 15%; padding-bottom: 2%">
					<div class="mdY" style="display: inline; font-size: 10px"> <%= label_tag(:depart, "Depart:") %> &nbsp; mm/dd/yyyy</div>
					<%= text_field(:depart, :depart, :value => @defaultDepart.strftime("%m/%d/%Y"), size: 14, :class => "dateInput") %>
				</div>
				<div id="returnDate" style="display: block; padding-bottom: 2%">
					<div class="mdY" style="display: inline; font-size: 10px"> <%= label_tag(:return, "Return:") %> &nbsp; mm/dd/yyyy</div>
					<%= text_field(:return, :return, :value => @defaultReturn.strftime("%m/%d/%Y"), size: 14, :class => "dateInput") %>
				</div>
			</div>				
			
			<div id="passengers" style="display: inline">			
				<%= label_tag(:adults, "Adults:") %> &nbsp;
				<%= select_tag(:adults, options_for_select([1, 2, 3, 4], @defaultAdults)) %>
			</div>
			<div id="setButton" style="position: relative; left: -6%; display: inline; float: right">
				<%= submit_tag("Set", class: "btn btn-default btn-xs") %>	
			</div>
		<% end %>
	</div>	       
</section>

<script>
	 $(function() {
		$( "#depart_depart" ).datepicker({
			defaultDate: "+1w",
			changeMonth: true,
			numberOfMonths: 1,
			showAnim: "slideDown",
			onClose: function( selectedDate ) {
				$( "#return_return" ).datepicker( "option", "minDate", selectedDate );
			}
		});
		$( "#return_return" ).datepicker({
			defaultDate: "+1w",
			changeMonth: true,
			numberOfMonths: 1,
			showAnim: "slideDown",
			onClose: function( selectedDate ) {
				$( "#depart_depart" ).datepicker( "option", "maxDate", selectedDate );
			}
		});
	});

	$('#customize').tooltip()
	
	$("#customize").click(function() {	
	  $('#customize').tooltip('toggle')			
	  $( "#customizeParams" ).slideToggle( "fast" );
	  if ($("#flights_canvas").css( "top" ) == "-510px" ) {
		$("#flights_canvas").css( "top", "-430px" );
	  } else {
		$("#flights_canvas").css("top", "-510px");
	  }
	});		
</script>